{% extends "accounts/account_form.html" %}
{% load i18n future %}

{% block main %}

{% if request.user.is_authenticated %}
    <p>{% trans "You're already logged in." %}</p>
{% else %}
    {{ block.super }}
    {% url "signup" as signup_url %}
    <p>{% blocktrans with request.GET.next as next %}<a href="{{ signup_url }}?next={{ next }}">Don&rsquo;t have an account?</a>{% endblocktrans %}</p>
    {% url "mezzanine_password_reset" as password_reset_url %}
    {% url "profile_update" as profile_update_url %}
    {% blocktrans %}<p><a href="{{ password_reset_url }}?next={{ profile_update_url }}">Forgot your password?</a></p>{% endblocktrans %}</p>
{% endif %}

{% endblock %}

