{% load mezzanine_tags rating_tags i18n future %}

<div class="rating">

    <form method="post" action="{% url "rating" %}">
        {% fields_for rating_form %}
    </form>

    <span class="arrows">
      {# classes are important for functionality - see drum.js #}
        <a href="#" title="Upvote this."><i class="voteup">&and;</i></a>
        {# {% if profile_user.karma > 10 %} #}
        <a href="#" title="Downvote this."><i class="votedown">&or;</i></a>
        {# {% endif %} #}
    </span>

    <span class="score small">
        {% with rating_obj.comments_count|default:0 as comments_count %}
        <!--{{ rating_sum|add:comments_count }}-->
        {{ rating_sum }} point{{ rating_sum|default:0|pluralize }}
        {% endwith %}
    </span>

</div>

