{% extends "base.html" %}

{% load mezzanine_tags rating_tags future %}

{% block meta_title %}{{ title|default:"Links about healthy sustainable food, ranked by readers" }}{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block main %}

<table class="table table-condensed">
    {% for link in object_list %}
    <tr>
      <td class="number">{{ forloop.counter0|add:object_list.start_index }}.</td>
        <td class="entry link-detail{% if link.rating_sum < 0 %} link-negative{% endif %}">
          <h2>
            {% if link.link %}
            <a href="{{ link.link }}">{{ link.title }}</a> <span class="domain">({{ link.domain }})</span>
            {% else %}
            <a href="{{ link.get_absolute_url }}">{{ link.title }}</a>
            {% endif %}
          </h2>
          <div class="meta muted small">
            {% if not profile_user %}
                {% rating_for link %}
            {% endif %}
            by <a class="profile" href="{% url "profile" link.user.username %}">{{ link.user.username }} {# <small>({{ link.user.profile.karma }})</small> #}</a>
            {{ link.publish_date|timesince }} ago <span class="muted">|</span>
            <a class="comments" href="{{ link.get_absolute_url }}">{{ link.comments_count }} comment{{ link.comments_count|pluralize }} </a>
          </div>
      </td>
    </tr>
    {% empty %}
    <p>{{ no_data }}</p>
    {% endfor %}
</table>
{# {% pagination_for object_list "page" "pjax" %} #}
{% pagination_for object_list "page" %}

{% endblock %}
