{% extends "base.html" %}

{% load mezzanine_tags rating_tags comment_tags drum_tags future %}

{% block meta_description %}{% metablock %}{{ object.description }}{% endmetablock %}{% endblock %}
{% block meta_title %}{{ object.title }}{% endblock %}
{% block title %}
<a href="{{ object.link }}">{{ object.title }}</a>
{% if object.link %}
<span class="domain">({{ object.domain }})</span>
{% endif %}
{% endblock %}

{% block main %}
<div class="link-view">
    <p class="description">{{ object.description|urlize|linebreaksbr }}</p>
    <div class="link-meta">
        {% rating_for object %}
        by <a href="{% url "profile" object.user.username %}" title="The number in brackets is the user's karma. It generally increases when their links or comments are upvoted.">{{ object.user.profile }}</a>
        {{ object.publish_date|timesince }} ago <a href="{{ object.get_absolute_url }}" title="Permanent link to this page.">#</a>
    </div>
    {% order_comments_by_score_for object %}
    {% comments_for object %}
</div>
{% endblock %}
