/* Food News Theme */

.btn, .a {text-shadow:none !important; box-shadow:none !important;}

body {font-family:verdana, sans-serif; color:#000; background:#fff;}
input, button, select, textarea {font-family:verdana, sans-serif;}
p, li, dd, dt {color:#000;}

/* =Navbar fixes */
.navbar-inner {
    border-radius:0 !important; 
    border:0; 
    border-bottom:1px solid #664b32 !important;
    background:#111 url(/static/img/pattern_100.gif) repeat 0 0 !important; /* Thanks to http://www.squidfingers.com/ */
    }
.navbar {color:#ddd; margin-bottom:0;}
.navbar a {color:#fff !important;}
.navbar li.active a {color:#fc6 !important; background:none !important;}
a.brand.active {color:#fc6 !important;}
.navbar a.btn-custom, .navbar a.btn-primary {padding:3px 10px !important; margin:7px 0 7px 14px; color:#fff !important; background:#393;}
.btn-custom, .btn-primary {background:#393; color:#fff !important;}
.navbar-search {float:none; text-align:center; margin:0 auto;}
.navbar h1 {margin:0; padding:0; line-height:1em;}
a.brand {
    background:transparent url(/static/img/logo.png) no-repeat 0 40%;
    font-size:14px !important;
    font-weight:bold !important;
    text-decoration:none;
    color:#fff !important;
    padding:10px 18px 10px 25px !important;
}

.navbar a:hover {color:#fc6 !important;}

.main a:hover, footer a:hover {background:#f5f5f5; text-decoration:none; color:#393;}

a:active, a:focus {color:#732200 !important;}
*:target {background:#FFFFEF !important;}

/* =Misc */
.btn-profile {margin-top:20px;}
.btn {border:0;}
.btn:hover, .btn:active {background:#630 !important; color:#fc6 !important;}
.bio {margin:20px 0;}
.page-info {text-indent:10px;}
.page-info a:hover {border-color:#d7dce0 !important;}
/*.alert {margin-top:0;}*/
.alert a {text-decoration:none;}
.aligncenter {text-align:center !important;}
.alignright {text-align:right !important;}
.nomargin {margin:0;}
.normal, .popover-content {font-weight:normal;}
.small {font-size:0.8em; line-height:1em;}

/* =Headings */
h1, h3 {margin:0; color:#000;}
h1 {font-size:20px; margin-top:10px;}
h2 {font-size:16px;}
h2 a:visited {color:#999;}
.domain {font-weight:normal; font-size:14px; color:#999;}

/* =Forms, etc */
div.controls textarea, div.controls input {width:60%;}
label {color:#000;}
legend {display:none;}
fieldset {margin-top:20px;}
footer {background: none;}
.form-actions {background:none; border:none; margin:0; padding:0 10px;}

/* =Rating =score widget with up/down arrows */
div.rating {display:inline; }
.rating form {display:none !important;}
span.arrows i {}
.score, .arrows {color:#999;}
.arrows a:hover i {background-color:#eee;}
td.link-negative i.votedown {}

/* =Tables */
table {margin-top:0;}
td {border:0 !important;}
td.number {color:#ccc; width:0.5em; vertical-align:middle;}
td.entry {width:auto; vertical-align:middle;}
td.entry h2 {margin:0; line-height:24px;}
td.entry h2 {color:#ccc;}
div.meta {margin-bottom:0.75em;}

/* =Link items in a list */
.link-item h2 {line-height:30px; margin:0;}
.link-item .rating{float:left;}
.link-item .rating {
    background-color: #fafafa;
    padding: 10px;
    margin: 0 20px 0 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width:75px;
    text-align:center;
}
.link-item .arrows {
    margin: 0 10px 0 0;
    background-color: #fff;
    padding: 7px;
    display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.link-item .score {font-size: 16px; line-height: 26px;}
.link-detail {width:80%;}
@media (max-width: 600px) {.link-detail {width:60%;}}
/*.link-detail a.profile, .link-detail a.comments {color:#999;}*/
.link-detail a.profile:visited, .link-detail a.comments:visited {color:#bbb;}
.link-meta .rating {margin:0 5px 0 0 !important;}

/* =Comments */
#comments h3 {font-size:20px; padding-top:5px; margin:20px 0 -5px 0;}
#comment .control-group, .reply-form .control-group {display:none;}
#comment .input_id_comment, .reply-form .input_id_comment {display:block;}
#comment label {margin-top:20px;}
#comments li {border:0; margin:0 0 10px;}
.comment-thread ul {margin:0; padding:0 0 0 40px !important;}
.comment-meta, .comment-links {color:#999; margin:0; font-size:12px;}
.comment-links {padding-bottom:5px;}
#comments .rating {margin:1px 5px 0 3px !important;}
.comment-item {margin:0 0 30px; padding-bottom:10px; border-bottom:1px solid #eee;}