{% load browserid %} 
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
{% load mezzanine_tags i18n future staticfiles %}
<head>

<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %} Links about healthy sustainable food, ranked by readers.">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} ♨ {{ settings.SITE_TITLE }}{% endif %}</title>

<link rel="alternate" type="application/atom+xml" title="Atom Feed" href="http://food.hypertexthero.com/atom/">
<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="http://food.hypertexthero.com/rss/">

<link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon.ico">

{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/mezzanine.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/fn20131017.css">
{% endcompress %}

{% compress js %}
<script src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/drum.js"></script>
{% endcompress %}

{% block extra_head %}{% endblock %}
</head>

<body>
{% nevercache %}
{% browserid_info %} 
{% endnevercache %}
<div class="navbar navbar-inverse">
<div class="navbar-inner navbar-fixed-top">
<div class="container">
    {% if settings.SITE_TITLE %}
      <h1>{# http://www.fileformat.info/info/unicode/char/2668/index.htm &#9832; #}
        <a class="brand{% if request.path == "/" %} active{% endif %}" href="/">{{ settings.SITE_TITLE }}</a>
      </h1>
    {% endif %}
    <ul class="nav">
      {% url "link_list_latest" as link_list_latest %}
      {% url "comment_list_latest" as comment_list_latest %}
      {% url "comment_list_best" as comment_list_best %}
      {% url "link_list_ask" as link_list_ask %}
      <li{% if request.path == link_list_latest %} class="active"{% endif %}><a href="{{ link_list_latest }}">New</a></li>
      <li{% if request.path == comment_list_latest %} class="active"{% endif %}><a href="{{ comment_list_latest }}">Comments</a></li>
      <li{% if request.path == comment_list_best %} class="active"{% endif %}><a href="{{ comment_list_best }}">Best</a></li>
      <li{% if request.path == link_list_ask %} class="active"{% endif %}><a href="{{ link_list_ask }}">Ask</a></li>
    </ul>

        {% nevercache %}
          <ul class="nav pull-right">
              {% if request.user.is_authenticated %}
              {# <a href="{% url "logout" %}?next={{ request.path }}" #}
              {#     class="btn btn-small">{% trans "Log out" %}</a> #}
              {# http://django-browserid.readthedocs.org/en/v0.9/details/api.html #}
              {# =persona #}
                <li>
                  {% url "profile" request.user.username as profile_url %}
                  {% if not profile_url %}{% url "profile_update" as profile_url %}{% endif %}
                  <a href="{{ profile_url }}" title="Click to view and update your profile. The number is your karma. It increases when your links or comments are upvoted.">{{ request.user.username }} ({{ request.user.profile.karma }})</a>
                  
                  {# =todo: friendlier message for first users: #}
                 {# {% if request.user.date_joined.date == request.user.last_login.date %} #}
                 {#    <a href="{{ profile_url }}" title="Click to view and update your profile.">Welcome! Click to set your user name</a> #}
                 {#  {% else %} #}
                 {#    <a href="{{ profile_url }}" title="Click to view and update your profile. The number is your karma. It increases when your links or comments are upvoted.">{{ request.user.username }} ({{ request.user.profile.karma }})</a> #}
                 {#  {% endif %} #}
                  
                  
                </li>
                <li>
                  {% browserid_logout text='Logout' %}
                </li>
                <li><a class="btn btn-custom" href="{% url "link_create" %}">Submit Link or Ask Question</a></li>
              {% else %}
              {# <a href="{% url "login" %}?next={{ request.path }}" #}
              {#     class="btn btn-small">{% trans "Log in" %}</a> or #}
              {# =persona #}    
              <li title="Login with Mozilla Persona.">
                {# {% browserid_login text='Login to Submit Link' next=request.path link_class='btn btn-small btn-custom' %} #}
                {# If anonymous user clicks on voteup link, redirect to /rating/, otherwise, to request.path #} 
                {% if request.path == "/accounts/login/" %} 
                {% browserid_login text='Login' next='/rating/' link_class='btn btn-custom' %}
                {% else %}
                {% browserid_login text='Login' next=request.path link_class='btn btn-custom' %}
                {% endif %}
              </li>
              {# <a href="{% url "signup" %}?next={{ request.path }}" #}
              {#     class="btn btn-small">{% trans "Create an Account" %}</a> #}
              {% endif %}
          </ul>
        {% endnevercache %}
</div>
</div>
</div>

<div class="container main">
{% nevercache %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" data-alert="alert">
    <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>{{ message }}
</div>
{% endfor %}
{% endnevercache %}
<h1>{% block title %}{% endblock %}</h1>
</div>

<div class="container main">
<div class="row">
<div class="span12 middle">
    {% block main %}{% endblock %}
</div>
</div>
</div>

<footer>
<div class="container aligncenter">
    <p>
      <span style="color:#393;">Food News: Links about healthy sustainable food, ranked by readers.</span>
      <br>
      Recent posts with most &and;upvotes are on the <a href="/">homepage</a>. Latest posts are in <a href="/new/">new</a>.
      <br>
      <a href="http://hypertexthero.com/logbook/2013/10/intro-food-news/" title="Ideally, experts in food-related sciences such as agriculture, animal health, biodiversity, climate, forestry, plant protection and nutrition would use Food News as a central repository of links and comments with good information about food so we develop better eating habits that are less damaging to our planet and the species living on it.">About</a> {# =TODO: <span class="muted">|</span> <a href="/faq/" title="Frequently asked questions.">FAQ</a> #} <span class="muted">|</span> <a href="/rss/" title="Subscribe to Food New's syndication feed.">RSS</a> <span class="muted">|</span>
      <a href="javascript:window.location=%22http%3A%2F%2Ffood.hypertexthero.com%2Flink%2Fcreate?u=%22+encodeURIComponent(document.location)+%22&amp;t=%22+encodeURIComponent(document.title)" title="Drag this link to your browser bookmarks bar, then click on it to post a link to the webpage you are currently visiting to Food News.">Post to Food News</a> <span>&larr; drag this link to your browser toolbar, then click to post the current page to Food News.</span>
      <br>
      {% search_form "main.Link" %}
    </p>
</div>
</footer>

{# {% browserid_js %}  #}
<script type="text/javascript" src="{{ STATIC_URL }}browserid/browserid.js"></script>
{% nevercache %}
<script type="text/javascript" src="https://login.persona.org/include.js"></script>
{% endnevercache %}
{% block extra_scripts %}{% endblock extra_scripts %}
</body>
</html>
